
.color1{
-fx-background-color:#222831 ;
}
.color2{
-fx-background-color: #393E46;

}
.color3{
-fx-background-color: #00ADB5;

}
.color4{
-fx-background-color: #EEEEEE;
}
.CEN
{-fx-alignment :center;}